 <!--search row-->
<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3  text-center">
        <img class="img-responsive img-center hp-logo" src="img/logo.gif" >
        <form class="form-group hp-search-form"  >       
            <select class="form-control">
                <option value="">AB+</option>
            </select>  
            <input type="text" class="form-control" placeholder="where do you need?. e.g. dhaka" autofocus>
            <button class="btn btn-default" >
                <span class="glyphicon glyphicon-search"></span>
                Search Donor</button>
        </form>   

        
      </div>
</div>
